<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.estkeybmodified</string>
	<key>CFBundleName</key>
	<string>est keyb modified</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Estonian</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.estkeybmodified.estonian</string>
		<key>TISIntendedLanguage</key>
		<string>et</string>
	</dict>
</dict>
</plist>
